{% extends 'base.html' %} {% block title %}CodeBlogs{% endblock %}

{% block content %}
    <header id = "main-navigation">
        <a href = "">CodeBlogs</a>
        
        <nav>
            <a href = "">All Posts</a>
        </nav>
    </header>

    <section id = "welcome">
        <header>
            <img src = "" alt = "CodeBlogs">
            <h2>HARSH's BLOG</h2>
        </header>
        <p>Hi, I am Harsh Agarwal and I love to blog about tech and the world!</p>
    </section>
    <section id="latest-posts">
        <h2> My Latest Thoughts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt=""
                    </a>
                </article>
            </li>
        </ul>
    </section>
    
{% endblock %}


