{% extends 'base.html' %} {% load static %} {% block title %}This Post Title
{% endblock %}

 {% block css_files %}
 
  <link rel="stylesheet" href="{% static "blog/posts.css" %}">
   <link rel="stylesheet" href="{% static "blog/all-posts.css" %}"> 
   {% endblock css_files %} 

{% block content %}
<section id="summary">
  <h2>Post Title</h2>
  <article>
    <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post Title" />
    <address>By Harsh Agarwal</address>
    <div>last updated on <time>Today</time></div>
  </article>
</section>

<main>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias est
    nihil, illum nisi fugiat nemo. Neque repudiandae harum, explicabo
    reprehenderit, enim obcaecati corrupti facere quis labore accusamus ratione
    accusantium alias.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias est
    nihil, illum nisi fugiat nemo. Neque repudiandae harum, explicabo
    reprehenderit, enim obcaecati corrupti facere quis labore accusamus ratione
    accusantium alias.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias est
    nihil, illum nisi fugiat nemo. Neque repudiandae harum, explicabo
    reprehenderit, enim obcaecati corrupti facere quis labore accusamus ratione
    accusantium alias.
  </p>
</main>
{% endblock content %}
